<footer
  class="footer mt-5 py-4 z-3 bg-primary text-bg-primary position-relative"
>
  <div class="container">
    <!-- Wave Shape -->
    <div
      class="position-absolute top-0 start-0 w-100 overflow-hidden"
      style="transform: translateY(-99%)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        preserveAspectRatio="none"
        style="width: 100%; height: 60px"
      >
        <path
          fill="#0d6efd"
          fill-opacity="1"
          d="M0,128L48,138.7C96,149,192,171,288,176C384,181,480,171,576,144C672,117,768,75,864,64C960,53,1056,75,1152,90.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="fw-bold mb-3">HIMA TI e-Election</h5>
        <p class="mb-0 text-bg-primary">
          Platform pemilihan umum digital Himpunan Mahasiswa Teknologi
          Informasi.
        </p>
        <!-- Social Media Link -->
        <div class="mt-3">
          <a
            href="https://www.instagram.com/himatipolnes"
            class="me-3 text-bg-primary"
            target="_blank"
          >
            <i class="bi bi-instagram"></i>
          </a>
          <a
            href="https://youtube.com/@himatipolnes4901"
            class="me-3 text-bg-primary"
            target="_blank"
          >
            <i class="bi bi-youtube"></i>
          </a>
          <a
            href="https://www.tiktok.com/@himatipolnes"
            class="me-3 text-bg-primary"
            target="_blank"
          >
            <i class="bi bi-tiktok"></i>
          </a>
          <a
            href="https://x.com/himatipolnes"
            class="me-3 text-bg-primary"
            target="_blank"
          >
            <i class="bi bi-twitter-x"></i>
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=61555405656171"
            class="me-3 text-bg-primary"
            target="_blank"
          >
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="fw-bold mb-3 text-bg-primary">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#home" class="text-decoration-none text-bg-primary fw-bold"
              >Home</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#about"
              class="text-decoration-none text-bg-primary fw-bold"
              >About</a
            >
          </li>
          <li>
            <a
              href="views/login.html"
              class="text-decoration-none text-bg-primary fw-bold"
              >Login</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="fw-bold mb-3">Contact</h5>
        <ul class="list-unstyled text-bg-primary">
          <li class="mb-2">
            Email:
            <a
              href="mailto:himatipolnes@gmail.com"
              class="text-bg-primary text-decoration-none"
              target="_blank"
              >himatipolnes@gmail.com</a
            >
          </li>
          <li class="mb-2">
            Phone:
            <a
              href="https://wa.me/6285285923047"
              class="text-bg-primary text-decoration-none"
              target="_blank"
              >+62 852-8592-3047</a
            >
          </li>
          <li class="mb-2">
            Address:
            <a
              href="https://maps.app.goo.gl/4bLqLB22frDDEVqi6"
              class="text-bg-primary text-decoration-none"
              target="_blank"
            >
              Jl. Cipto Mangun Kusumo, Sungai Keledang, Kec. Samarinda Seberang,
              Kota Samarinda, Kalimantan Timur
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4" />
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="text-bg-primarymb-0">
          &copy; 2025 HIMA TI e-Election. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <p class="text-bg-primary mb-0">
          Created with ❤️ by Mahasiswa TRK A 2023
        </p>
      </div>
    </div>
  </div>
</footer>
